* text=auto

*.java text eol=lf
*.json text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.png binary
*.jar binary

gradlew text eol=lf
gradlew.bat text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf
